insertion-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px;
}

insertion-info {
    display: flex;
    flex-direction: row;
}

insertion-book {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 8px;
    justify-content: center;
}

insertion-data insertion-title {
    font-weight: bold;
    font-size: 20px;
}

insertion-data insertion-authors {
    opacity: 75%;
    margin-top: 5px;
}

insertion-data icon-container {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}